{% extends 'layout2.html' %}

{% block body %}


<main class="contenedor">
    <h3 class="centrar-texto">Chimeneas Calidez</h3>

    <div class="portafolio">
        <div class="portafolio__imagen">
            <img src="/static/img/0.jpeg" alt="Img">
        </div>
        <div class="portafolio__informacion">
            <h4 class="no-margin"></h4>
            <p class="portafolio__descripcion">
                Chimeneas decorativas de interior y exteriores, con multiples tipos de encendido (Manual,
                control remoto, wifi por tu smarthphone y Alexa)
            </p>
        </div>
    </div>

    <div class="portafolio">
        <div class="portafolio__imagen">
            <img src="/static/img/1.jpeg" alt="Img">
        </div>
        <div class="portafolio__informacion">
            <p class="portafolio">
                ¡Seguridad, confort y estetica!
                Son las caracteristicas mas especiales de nuestras chimenas, protegemos su ambiente
                a través de una combustión limpia.
            </p>
        </div>
    </div>

    <div class="portafolio">
        <div class="portafolio__imagen">
            <img src="/static/img/3.jpeg" alt="Img">
        </div>
        <div class="portafolio__informacion">
            <p>
                Analizamos cada espacio, entendemos tu necesidad y entregamos un producto con los más
                altos estándares de calidad, eficiencia y seguridad. Fáciles de operar y fáciles de
                disfrutar
            </p>
        </div>
    </div>

</main>


{% endblock %}