<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidez</title>
    <meta name="description" content="Open Build">

    <!-- Prefetch -->
    <link rel="prefetch" href="About_us.html" as="document">

    <!-- Preload -->
    <link rel="preload" href="/static/css/normalize.css" as="style">
    <link rel="stylesheet" href="/static/css/style.css">

    <link rel="preload"
        href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
        crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">

    <link rel="preload" href="css/style.css" as="style">
    <link rel="stylesheet" href="css/style.css">
</head>
<header class="background">
    <div class="contenedor">
        <div class="barra">
            <a class="logo" href="/" src="/static/img/Logo.png" img="Logo">
                <h1 class="logo__nombre no-margin centrar-texto"><img src="/static/img/Logo positivo.png" width="70"
                        height="70" left alt=""> <span class="logo__bold">CALIDEZ</span></h1>
            </a>

            <nav class="navegacion">
                <a href="/" class="navegacion__enlace">Inicio</a>
                <a href="chimeneas.html" class="navegacion__enlace">Chimeneas</a>
                <a href="192.168.1.200" class="navegacion__enlace">Control</a>
                <a href="/configuracion.html" class="navegacion__enlace">Configuracion</a>
                <a href="contact_us" class="navegacion__enlace">Contactenos</a>
            </nav>
        </div>
</header>

<body>

    {% block body %}

    {% endblock %}

    <footer class="footer background">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="/" src="/static/img/Logo.png" img="Logo">
                    <h1 class="logo__nombre no-margin centrar-texto"><img src="/static/img/Logo positivo.png" width="70"
                            height="70" left alt=""> <span class="logo__bold">CALIDEZ</span></h1>
                </a>

                <nav class="navegacion">
                    <a href="/" class="navegacion__enlace">Inicio</a>
                    <a href="chimeneas.html" class="navegacion__enlace">Chimeneas</a>
                    <a href="192.168.1.200" class="navegacion__enlace">Control</a>
                    <a href="192.168.1.200/configuracion.html" class="navegacion__enlace">Configuracion</a>
                    <a href="contactenos.html" class="navegacion__enlace">Contactenos</a>
                </nav>
            </div>
    </footer>

    <script src="/static/js/modernizr.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>