<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidez_Portafolio</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header">

        <div class="contenedor" style="background: radial-gradient(circle, rgba(197,159,20,1) 0%, rgba(103,11,11,1) 100%)">

            <div class="barra">
                <a class="logo" href="index.html" src="img/Logo" img="Logo">
                    <h1 class="logo__nombre no-margin centrar-texto"><img src="img/Logo positivo.png" width="70"
                            height="70" left alt=""> <span class="logo__bold"></span></h1>
                </a>

                <nav class="navegacion">
                    <a href="index.html" class="navegacion__enlace">Inicio</a>
                    <a href="portafolio.html" class="navegacion__enlace">Chimeneas</a>
                    <a href="registro.html" class="navegacion__enlace">Registro</a>
                    <a href="login.html" class="navegacion__enlace">Login</a>
                </nav>
            </div>
        </div>
    </header>


    <main class="contenedor">
        <h3 class="centrar-texto">Chimeneas Calidez</h3>

        <div class="portafolio">
            <div class="portafolio__imagen">
                <img src="img/0.jpeg" alt="Img">
            </div>
            <div class="portafolio__informacion">
                <h4 class="no-margin"></h4>
                <p class="portafolio__descripcion">
                    Chimeneas decorativas de interior y exteriores, con multiples tipos de encendido (Manual,
                    control remoto, wifi por tu smarthphone y Alexa)
                </p>
            </div>
        </div>

        <div class="portafolio">
            <div class="portafolio__imagen">
                <img src="img/1.jpeg" alt="Img">
            </div>
            <div class="portafolio__informacion">
                <p class="portafolio">
                    ¡Seguridad, confort y estetica!
                     Son las caracteristicas mas especiales de nuestras chimenas, protegemos su ambiente
                    a través de una combustión limpia.
                </p>
            </div>
        </div>

        <div class="portafolio">
            <div class="portafolio__imagen">
                <img src="img/3.jpeg" alt="Img">
            </div>
            <div class="portafolio__informacion">
                <p>
                    Analizamos cada espacio, entendemos tu necesidad y entregamos un producto con los más
                    altos estándares de calidad, eficiencia y seguridad. Fáciles de operar y fáciles de 
                    disfrutar
                </p>
            </div>
        </div>

    </main>

    <script src="js/modernizr.js"></script>
</body>

</html>